/* Text iDevice (export CSS) */
.exe-text-activity .inline {
    display: flex;
}

.exe-text-activity dt {
    margin: 0 0 0 auto;
}

.exe-text-activity dd {
    margin-left: 10px;
}

.idevice_node.text .iDevice_buttons.feedback-button {
    margin-bottom: 1em;
}