# Local development environment for `make up-local`

APP_ENV=dev
APP_DEBUG=1
APP_ONLINE_MODE=1

APP_PORT=8080
PORT=8080

FILES_DIR=data/

DB_DRIVER=pdo_sqlite
DB_PATH=data/exelearning.db
DB_SERVER_VERSION=3.32

TEST_USER_EMAIL=user@exelearning.net
TEST_USER_PASSWORD=1234