<?xml version="1.0"?>
<theme>
  <name>infantil</name>
  <title>Infantil</title>
  <version>2025</version>
  <compatibility>3.0</compatibility>
  <author>tresipunt</author>
  <license>Creative Commons by-sa</license>
  <license-url>http://creativecommons.org/licenses/by-sa/3.0/</license-url>
  <description>Tema visual para infantil.</description>
  <downloadable>0</downloadable>
</theme>